.list-wrapper {
    width: 260px;
    min-width: 260px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $black-2;
    border-radius: $border-radius-2;
    height: fit-content;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            @include font-heading;
            background: transparent;
            color: $white-1;
            border: none;
            outline: none;
            border-radius: $border-radius-3;

            &:focus-visible {
                box-shadow: 0 0 0 1px $blue-1;
            }
        }

        .MuiSvgIcon-root {
            font-size: 18px;
        }

    }
}