.card-wrapper {
    background-color: $black-3;
    border: 1px solid $black-3;
    border-radius: $border-radius-2;
    padding: 5px 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        border: 1px solid $white-1;
    }
}